/* Begin Blue Belt Coding Ninja CSS 
-------------------------------------------------- */

/* Body style
-------------------------------------------------- */
body{
	background-color: black;
	background-image: url("../images/r2bg.jpg");
  background-size: 1600px 860px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 968px;
}

/* Row style
-------------------------------------------------- */
.row {
    margin-top: 5px;
    margin-top: 10px;
  }

  /* Text style
-------------------------------------------------- */
h1 {
    text-align: center;
    font-family: 'Geostar Fill', cursive;
  }

p {
  font-size: 20px;
}

  /* Image style
-------------------------------------------------- */

.droidImage{
  height: 80px;
  margin: 20px;
}

/* Media Query styles
-------------------------------------------------- */

/** phone in landscape **/
@media only screen 
and (max-width: 640px) {
  
  body {
    background-image: none !important; background-color: #A9A9A9;
  }

  h1 {
    text-align: left;
    font-family: 'Geostar Fill', cursive;
    font-size: 30px;
  }
}

  

/** tablet device **/
@media only screen
and (min-width: 641px)
and (max-width: 768px) {

body {
    background-image: none !important; background-color: #A9A9A9;
  }

  h1 {
    text-align: left;
    font-family: 'Geostar Fill', cursive;
    font-size: 30px;
  }
  

}

/** desktop and laptop devices **/
@media only screen
and (min-width: 769px)
and (max-width: 980px) {

    body {
    background-image: none !important; background-color: #A9A9A9;
  }

  h1 {
    text-align: left;
    font-family: 'Geostar Fill', cursive;
    font-size: 30px;
  }
}